{% extends "AbsenceBundle::main.html.twig" %}
{% block titre %}
    Changement de mot de passe pris en compte
{% endblock %}

{% block body %}
    <div class="text-center">
        <i>
            Un nouveau mot de passe a déjà été demandé pour cet utilisateur dans les dernières 24 heures.<br><br>
           {# Si vous rencontrez encore une erreur après le delai de 24h.<br>
            Veuilliez contactez: <a href="/">mail</a>#}<br><br>
        </i>
        <a href="/login">
            <button type="submit" class="btn btn-primary" class="btn btn-default">Retour login</button>
        </a>
    </div>

{% endblock %}