{#{% extends "InfosDisposBundle::main.html.twig" %}#}
{% extends "AbsenceBundle::template.html.twig" %}

{% block titre %}
    Vous avez bien réussi a créer ce compte
{% endblock %}



{% block body %}

    <i class="text-center center-block">Un mail va lui être envoyer afin de l'avertir de la création de son compte<br><br></i>


    <div class="table-responsive " >
            <table class="table table-bordered" >
                <tr class="info">
                    <th>Username</th>
                    <th>Mail</th>
                </tr>
                    <tr>
                        <td> {{ data.username }}</td>
                        <td> {{ data.email }}</td>
                    </tr>

            </table>
        </div>

    <div class="centerForm">
        <div class="cent">
            <a href="{{ path("absence_user_list") }}">
                <button type="button" class="btn btn-primary">Retour liste utilisateur</button>
            </a>
            
            <a href="{{ path("fos_user_register") }}">
                <button type="button" class="btn btn-primary ">Ajouter un utilisateur</button>
            </a>
        </div>
    </div>

{% endblock %}