{#{% extends "AbsenceBundle::main.html.twig" %}#}
{% extends "AbsenceBundle::template.html.twig" %}

{% block titre %}

    <spam  class="page-header">Sign for me</spam>

{% endblock %}

{% block body %}


    <div class="text-center center-block">
        <h1 ><i class="fa fa-arrow-up size"></i></h1>
        <span id="id_index" >Bienvenu dans ecnesba!</span>
        <br>
    </div>





{% endblock %}